.policiesAccordians .accordion-item .accordion-header .accordion-button {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #ECB01C;
    flex-direction: row-reverse;
    padding: 5px 5px 0px 5px;
    justify-content: flex-end !important;
    display: flex;
}

.policiesAccordians .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
    background-image: url(../../assets/imgs/upArrow.svg);
    transform: rotate(0deg);
    margin: 0;
}

.policiesAccordians .accordion-item .accordion-header .accordion-button::after {
    background-image: url(../../assets/imgs/upArrow.svg);
    transform: rotate(-180deg);
    margin: 0;
}

.policiesAccordians .accordion-item .accordion-header.accordion-button:not(.collapsed),
.policiesAccordians .accordion-item {
    border: 0;
    background: #FAFAFA !important;
    background-color: #FAFAFA !important;
}

.accordion-button:not(.collapsed) {
    color: #0c63e4;
    background-color: #FAFAFA !important;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 0%);
}

.accordion-button:focus {
    z-index: 3;
    border-color: transparent !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}