/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap'); */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.dark-theme {
  --main-heading: #5f99be;
  --para-clr: black;
  --btn-bg-color: #5f99be;
  --btn-text-clr: #fff;
  --bg-clr: #111b20;
}

.light-theme {
  --main-heading: #5f99be;
  --para-clr: #333;
  --btn-bg-color: #111b20;
  --btn-text-clr: #fff;
  --bg-clr: #d9d9d9;
  --sidebar-bg-clr: white;
}

.sidebar-div,
.sidebar {
  background-color: var(--sidebar-bg-clr) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-heading);
}

p {
  color: var(--para-clr) !important;
}

a {
  color: var(--btn-bg-color);
}

/* .btn {
    background-color: var(--btn-bg-color);
    color: var(--btn-text-clr);
} */
img:hover {
  cursor: pointer;
}

/* ----------------------------- */
body {
  background-color: var(--bg-clr);
  /* background: #D9D9D9; */
  margin: 0 !important;
  padding: 0 !important;
  min-height: 100%;
  position: relative;
}

.overflow::-webkit-scrollbar,
.availableLang::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.overflow::-webkit-scrollbar,
.availableLang::-webkit-scrollbar {
  background-color: #ececec;
}

.overflow,
.availableLang {
  scrollbar-color: #ffc943 #ececec;
}

.overflow::-webkit-scrollbar-thumb,
.availableLang::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #ffc943;
}

.fs-12 {
  font-size: 12px;
  margin-bottom: 0;
}

.fs-13 {
  font-size: 13px;
  margin-bottom: 0;
}

.fs-14 {
  font-size: 14px;
  margin-bottom: 0;
}

.fs-15 {
  font-size: 15px;
  margin-bottom: 0;
}

.fs-16 {
  font-size: 16px;
  margin-bottom: 0;
}

.fs-20 {
  font-size: 20px;
  margin-bottom: 0;
}

.fs-22 {
  font-size: 22px;
  margin-bottom: 0;
}

.fs-24 {
  font-size: 24px;
  margin-bottom: 0;
}

.fs-32 {
  font-size: 32px;
  margin-bottom: 0;
}

.fw-500 {
  font-weight: 500;
}

.fw-550 {
  font-weight: 550;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

/* -----------------colors------------------ */
.black {
  color: #000000 !important;
}

.pink {
  color: #d85b6a !important;
}

.grey {
  color: #787878 !important;
}

.yellow {
  color: #ecb01c !important;
}

.green {
  color: #23a971 !important;
}

.lightBlack{
  color: #2F2F2F !important;
}

.red
{
  color: #DC2227 !important;
}

.blue
{
  color: #464FFF !important;
}
.decoration-none
{
  text-decoration: none;
}
/* -------------------------------------- */
textarea:focus,
select:focus,
input:focus {
  outline: none;
}

.tabsStyling .nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: #787878;
}

.tabsStyling .nav-link.active {
  color: #ecb01c;
  background: transparent;
  border-bottom: 2px solid #ecb01c;
  border-radius: 0;
}

.tabsLabels {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ecb01c;
  margin-bottom: 0;
}

.inputFileds {
  height: 30px;
  background: #fafafa;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  width: 100%;
  padding-left: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  color: #908d8d;
}

.inputFileds::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  color: #908d8d;
}

.cursor {
  cursor: pointer;
}

.modalTabs .nav-link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.004em;
  color: #ecb01c;
}

.modalTabs .nav-link.active {
  height: 43px;
  background: #ecb01c;
  border-radius: 2px;
  color: #ffffff;
}

.modalTabs .nav-item {
  margin-bottom: 1px;
}

.searchIcon {
  position: absolute;
  margin-top: 10px;
}

/* -----------square checkbox-------------- */

.checkbox-square {
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 5%;
  vertical-align: middle;
  border: 2px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border: 1px solid #ecb01c;
}

.checkbox-square:checked {
  background-color: #ecb01c;
}

/* ----------------------------------------- */
/* ----------------------modal checkbox---------------- */
.modalChecbox {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.checkboxLabel {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkboxLabel:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #ecb01c;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 20%;
  margin-right: 5px;
}

.modalChecbox:checked+.checkboxLabel:after {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 9px;
  width: 5px;
  height: 13px;
  border: solid #ecb01c;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* -------------------------------------------- */

/* ----------------------simple yellow checkbox---------------- */
.simpleyellowCheckbox {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.simpleyellowCheckboxLabel {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.simpleyellowCheckboxLabel:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #ecb01c;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  /* border-radius: 20%; */
  margin-right: 5px;
}

.simpleyellowCheckbox:checked+.simpleyellowCheckboxLabel:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 8px;
  width: 5px;
  height: 13px;
  border: solid #ecb01c;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* -------------------------------------------- */
.fullscreen {
  background: white;
}

.btn-check:focus+.btn,
.btn:focus {
  box-shadow: none;
}
